body{
    background: url('./assets/images/Math-Mathematics-Formula-Wallpaper-for-PC.jpg');
}

.header{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr 1fr;
    grid-template-columns: 1.5fr 1fr;
    width: 60%;
    margin-left: 5%;
    font-size: 1.5rem;
}

.image{
    width: 800px;
}

p{
    margin-right: 12px;
}

@media (max-width: 850px){
    .image{
        width: 100%
    }

    .container{
        grid-template-rows: repeat(8 1fr);
        grid-template-columns: 1fr;
    }
}

